
*,
*:before

,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
  letter-spacing: 1.8px;
  overflow: overlay;
}
// Hide input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/**
Overwrite styles
*/
.MuiCollapse-wrapper > .MuiCollapse-wrapperInner >.MuiMenuItem-root {
  color: black;
}

.MuiList-root > .MuiListItem-root >.MuiButton-textPrimary {
  color: white !important;
}

.MuiPickersCalendarHeader-label {
  color: #000000de;
}

.PrivatePickersYear-yearButton {
  color :#000000de !important;
}
